* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.header-background {
  background: rgba(229, 84, 115, 0.1);
  height: 100vh;
  width: 100%px;
}
.container-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 120px;
  gap: 50px;
}

.image-heading {
  width: 400px;
  height: 550px;
  margin-left: 50px;
  padding-top: 68px;
}

.btn {
  padding: 10px 13px;
  background-color: #e55473;
  border: none;
  border-radius: 5px;
  color: white;
}
.heading-main {
  font-size: 60px;
  color: #272727;
}
.text-para1 {
  font-size: 15px;
  color: rgba(122, 122, 122, 0.6);
}

.featured-flower {
  margin: 0px 120px;
}
.featured-text {
  padding: 40px 0px;
}

.featured-text-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-heading {
  font-size: 25px;
  text-align: center;
}

.cards-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card1 {
  width: 350px;
  height: 400px;
  background: rgba(167, 33, 98, 0.15);
  border-radius: 160px 160px 0px 0px;
}
.card2 {
  width: 350px;
  height: 400px;
  background: rgba(5, 151, 160, 0.15);
  border-radius: 160px 160px 0px 0px;
}
.card3 {
  width: 350px;
  height: 400px;
  background: rgba(71, 125, 17, 0.15);
  border-radius: 160px 160px 0px 0px;
}
.card-ïmage {
  width: 250px;
  height: 350px;
  padding-top: 48px;
  padding-left: 42px;
}
.card-text {
  font-size: 20px;
  text-align: center;
}

.hot-deal {
  width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 5rem;
}

.hot-deal > * {
  width: 50%;
}

.hot-deal-container {
  width: 100vw;
  margin-top: 5rem;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin: 60px;
}

.hot-deal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hot-banner-title {
  font-size: 1.8rem;
}

.hot-banner-title span {
  color: #e55473;
}

.hot-img {
  width: 200px;
  margin-left: 60px;
}

.insta-media {
  align-content: center;
  margin: 0px;
}
.media-imagess {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.m-image {
  height: 300px;
}
