* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #272727;
  font-family: "Lato", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

p {
  color: rgba(39, 39, 39, 0.6);
  line-height: 1.8;
  font-size: 1.125rem;
  font-weight: 500;
}

button {
  font-size: 1.25rem;
  font-weight: 700;
}

.header {
  background-color: rgba(229, 84, 115, 0.1);
  width: 100vw;
  height: 100vh;
}

.banner {
  display: flex;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  height: inherit;
}

.banner-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.banner > * {
  width: 50%;
}

.banner-title {
  font-size: 4rem;
}

.banner-img {
  display: flex;
  padding-top: 1rem;
  align-self: flex-end;
}

.btn-primary {
  width: max-content;
  border-radius: 8px;
  background: #e55473;
  border-radius: 5px;
  color: #fff;
  border: 0;
  color: white;
  padding: 15px 35px;
}

.about-info-inner {
  max-width: 1200px;
  display: flex;
  gap: 2rem;
  margin: 0 auto;
}

.about-info-inner > * {
  width: 33.3%;
  height: inherit;
  text-align: center;
}

.about-info-img {
  margin-bottom: 1rem;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  height: 100%;
  display: flex;
  align-items: center;
}

.section-title {
  color: #272727;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 70px;
}

.section-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
}

.info-title {
  text-decoration: underline;
}

.service-info-container {
  width: 1200px;
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}

.service-info {
  padding: 5rem 7.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 8px;
}

.service-info > * {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.service img {
  width: 4rem;
}

.service h4 {
  text-align: center;
}

.hot-deal {
  width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 5rem;
}

.hot-deal > * {
  width: 50%;
}

.hot-deal-container {
  width: 100vw;
  margin-top: 5rem;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}

.hot-deal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hot-banner-title {
  font-size: 1.8rem;
}

.hot-banner-title span {
  color: #e55473;
}

.hot-banner-img {
  width: 200px;
  margin: 0 auto;
}
